<a href="https://colab.research.google.com/github/Sri-Ganesan-16/22BDS0381-Exploratory-Data-Analysis/blob/main/22BDS0381.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Name: Sri Ganesan
# Register number: 22BDS0381
# Course name: Exploratory data analysis
# Course code: BCSE331L
# Slot : C1

In [ ]:
# Dataset = Auto.csv

# Loading dataset

import pandas as pd
df = pd.read_csv('Auto.csv')
print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0  18.0          8         307.0         130    3504          12.0    70
1  15.0          8         350.0         165    3693          11.5    70
2  18.0          8         318.0         150    3436          11.0    70
3  16.0          8         304.0         150    3433          12.0    70
4  17.0          8         302.0         140    3449          10.5    70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [ ]:
# Module 1

# Identifying data types of attributes (Qualitative or Quantitative)

import pandas as pd
import numpy as np
df = pd.read_csv('Auto.csv')
def get_data_type(series, col_name):
    if series.dtype == object:
        return "Qualitative (Categorical) - Nominal"
    elif np.issubdtype(series.dtype, np.number):
        unique_vals = series.unique()
        n_unique = series.nunique()
        if col_name.lower() in ['year', 'grade', 'rank']:
            return "Qualitative (Categorical) - Ordinal"
        if np.issubdtype(series.dtype, np.integer):
            if n_unique <= 15:  # Assuming if there are less than 15 unique values, attribute is of discrete data type
                return "Quantitative (Numerical) - Discrete"
            else:
                return "Quantitative (Numerical) - Continuous - Ratio"
        elif np.issubdtype(series.dtype, np.floating):
            return "Quantitative (Numerical) - Continuous - Ratio"
    return "Unknown"
for col in df.columns:
    dtype = get_data_type(df[col], col)
    print(f"{col}: {dtype}")

mpg: Quantitative (Numerical) - Continuous - Ratio
cylinders: Quantitative (Numerical) - Discrete
displacement: Quantitative (Numerical) - Continuous - Ratio
horsepower: Quantitative (Numerical) - Continuous - Ratio
weight: Quantitative (Numerical) - Continuous - Ratio
acceleration: Quantitative (Numerical) - Continuous - Ratio
year: Qualitative (Categorical) - Ordinal
origin: Quantitative (Numerical) - Discrete
name: Qualitative (Categorical) - Nominal

In [ ]:
# Module 1

# Identifying the data types of the attributes

import pandas as pd
df = pd.read_csv('Auto.csv')
for col in df.columns:
    print(f"{col}: {df[col].dtype}")

mpg: float64
cylinders: int64
displacement: float64
horsepower: int64
weight: int64
acceleration: float64
year: int64
origin: int64
name: object

In [7]:
# Module 2

# Summary of dataset (Dimension, Columns, Datatypes, Missing value count)

import pandas as pd
df = pd.read_csv('Auto.csv')

print("Summary")
print(f"Shape (rows, columns): {df.shape}")
print(f"Columns:\n{df.columns.tolist()}")
print("\nData types:")
print(df.dtypes)
print("\nNumber of non-null values per column:")
print(df.count())
print("\nNumber of missing values per column:")
print(df.isnull().sum())
print("\nFirst 5 rows:")
print(df.head())

Summary
Shape (rows, columns): (392, 9)
Columns:
['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin', 'name']

Data types:
mpg             float64
cylinders         int64
displacement    float64
horsepower        int64
weight            int64
acceleration    float64
year              int64
origin            int64
name             object
dtype: object

Number of non-null values per column:
mpg             392
cylinders       392
displacement    392
horsepower      392
weight          392
acceleration    392
year            392
origin          392
name            392
dtype: int64

Number of missing values per column:
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

First 5 rows:
    mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0  18.0          8         307.0         130    3504          12.0    70
1  15.0          8         350.0         165    3693          11.5    70
2  18.0          8         318.0         150    3436          11.0    70
3  16.0          8         304.0         150    3433          12.0    70
4  17.0          8         302.0         140    3449          10.5    70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [8]:
# Module 2

# Descriptive statistics of dataset

import pandas as pd
df = pd.read_csv('Auto.csv')
print("Descriptive statistics")
print(df.describe(include = "all"))

Descriptive statistics
               mpg   cylinders  displacement  horsepower       weight  \
count   392.000000  392.000000    392.000000  392.000000   392.000000
unique         NaN         NaN           NaN         NaN          NaN
top            NaN         NaN           NaN         NaN          NaN
freq           NaN         NaN           NaN         NaN          NaN
mean     23.445918    5.471939    194.411990  104.469388  2977.584184
std       7.805007    1.705783    104.644004   38.491160   849.402560
min       9.000000    3.000000     68.000000   46.000000  1613.000000
25%      17.000000    4.000000    105.000000   75.000000  2225.250000
50%      22.750000    4.000000    151.000000   93.500000  2803.500000
75%      29.000000    8.000000    275.750000  126.000000  3614.750000
max      46.600000    8.000000    455.000000  230.000000  5140.000000

        acceleration        year      origin         name
count     392.000000  392.000000  392.000000          392
unique           NaN         NaN         NaN          301
top              NaN         NaN         NaN  amc matador
freq             NaN         NaN         NaN            5
mean       15.541327   75.979592    1.576531          NaN
std         2.758864    3.683737    0.805518          NaN
min         8.000000   70.000000    1.000000          NaN
25%        13.775000   73.000000    1.000000          NaN
50%        15.500000   76.000000    1.000000          NaN
75%        17.025000   79.000000    2.000000          NaN
max        24.800000   82.000000    3.000000          NaN

Perform deduplication

Replace values

Discretization and binning

Handling missing data (Maximum likelihood estimation)

Data cleaning

Univariate analysis

Bivariate analysis

Multivariate analysis

Visualizations