<a href="https://colab.research.google.com/github/Sri-Ganesan-16/22BDS0381-Exploratory-Data-Analysis/blob/main/22BDS0381.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Name: Sri Ganesan
# Register number: 22BDS0381
# Course name: Exploratory data analysis
# Course code: BCSE331L
# Slot : C1

In [4]:
# Dataset = Auto.csv
import pandas as pd

# Load the dataset
df = pd.read_csv('Auto.csv')

# Preview the first 5 rows
print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0  18.0          8         307.0         130    3504          12.0    70
1  15.0          8         350.0         165    3693          11.5    70
2  18.0          8         318.0         150    3436          11.0    70
3  16.0          8         304.0         150    3433          12.0    70
4  17.0          8         302.0         140    3449          10.5    70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [9]:
# Module 1

# Identifying data types of attributes (Qualitative or Quantitative)
import pandas as pd
import numpy as np
df = pd.read_csv('Auto.csv')
def get_data_type(series, col_name):
    if series.dtype == object:
        return "Qualitative (Categorical) - Nominal"
    elif np.issubdtype(series.dtype, np.number):
        unique_vals = series.unique()
        n_unique = series.nunique()
        if col_name.lower() in ['year', 'grade', 'rank']:
            return "Qualitative (Categorical) - Ordinal"
        if np.issubdtype(series.dtype, np.integer):
            if n_unique <= 15:  # Assuming if there are less than 15 unique values, attribute is of discrete data type
                return "Quantitative (Numerical) - Discrete"
            else:
                return "Quantitative (Numerical) - Continuous - Ratio"
        elif np.issubdtype(series.dtype, np.floating):
            return "Quantitative (Numerical) - Continuous - Ratio"
    return "Unknown"
for col in df.columns:
    dtype = get_data_type(df[col], col)
    print(f"{col}: {dtype}")

mpg: Quantitative (Numerical) - Continuous - Ratio
cylinders: Quantitative (Numerical) - Discrete
displacement: Quantitative (Numerical) - Continuous - Ratio
horsepower: Quantitative (Numerical) - Continuous - Ratio
weight: Quantitative (Numerical) - Continuous - Ratio
acceleration: Quantitative (Numerical) - Continuous - Ratio
year: Qualitative (Categorical) - Ordinal
origin: Quantitative (Numerical) - Discrete
name: Qualitative (Categorical) - Nominal

In [8]:
# Module 1

# Identifying the data types of the attributes
import pandas as pd

# Load the dataset
df = pd.read_csv('Auto.csv')

# Print the data type of each column (numpy/pandas dtype)
for col in df.columns:
    print(f"{col}: {df[col].dtype}")

mpg: float64
cylinders: int64
displacement: float64
horsepower: int64
weight: int64
acceleration: float64
year: int64
origin: int64
name: object

Transformation Techniques: Performing data deduplication - replacing values â€“
Discretization and binning. Introduction to Missing data, handling missing data: Traditional
methods - Maximum Likelihood Estimation.
Types of analysis: Univariate analysis - bivariate analysis - multivariate analysis. Time Series
Analysis (TSA):
Dimensions Summary Statistics Data Handling Data Cleaning Univariate, Bivariate, and Multivariate Analysis (include all possible visualizations)